<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test suite" parallel="tests" thread-count="2">
    <!--<listeners>
        <listener class-name="tests.base.AnnotationTransformer"/>
    </listeners>-->
    <test name="test 1 auth tests">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="login" value="standard_user"></parameter>
        <groups>
            <run>
                <!--<include name="fast" />-->
                <exclude name="slow" />
            </run>
        </groups>
        <classes>
            <class name="tests.AuthTest" />
        </classes>
    </test>
    <test name="test 2 auth tests">
        <parameter name="browser" value="edge"></parameter>
        <parameter name="login" value="standard_user"></parameter>
        <classes>
            <class name="tests.AuthTest" />
        </classes>
    </test>
</suite>
